<style>
	
.imgIndex1 {
	transition: all 2s;
}
	
.imgIndex1:hover {
	background-color: #35353580;
}
	
.forumbit_description_hidden {
    display: none;
}

.imgIndexBlues img:hover {
	background-color:#ffff;
}
	
.forumbit_description_show {
    text-align: justify;
    position: absolute;
    width: 490px;
    height: 305px;
    overflow: auto;
    color: #dfd6ee;
    display: flex;
    text-decoration: none;
    background-color: #fff0;
    padding: 6px 18px;
	transition: all 0.2s;
}
	
.forumbit_description_show:hover {
    text-align: justify;
    position: absolute;
    width: 490px;
    height: 305px;
    overflow: auto;
    color: #dfd6ee;
    display: flex;
    text-decoration: none;
    background-color: #35353580;
    padding: 6px 18px;
}	

</style>

	<div style="text-align: center;">
		<a  href="https://nakamanomi.com/showthread.php?tid=22">
			<img  src="https://cdn.discordapp.com/attachments/1127472474322391060/1143837558447554641/barra_estacion_primavera.png" />
		</a>
	</div>
<div class="separador" style=" margin-top: 35px; "></div>

<div class="indice">
	<div class="indice-general-bar">
		<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/general.png" />
	</div>
	<div class="indice-general" style="display: flex;flex-wrap: wrap;height: 319px;">
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=15" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/anuncios.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=10" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/normativa.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=9" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/guias.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=11" style="display: flex;width: 25%;">
			<!-- <img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/akuma.png" /> -->
			<img style=" width: 100%; " src="https://cdn.discordapp.com/attachments/1127472474322391060/1138124659720728636/0_-_General_-_Akumas_263x160.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=2" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/creacion.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=16" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://i.imgur.com/dgaESwM.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=17" style="display: flex;width: 25%;">
			<!-- <img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/registros.png" /> -->
			<img style=" width: 100%; " src="https://i.imgur.com/gEBNsH4.png" />
		</a>
		<a class="imgIndexGeneral" href="/forumdisplay.php?fid=18" style="display: flex;width: 25%;">
			<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/off-topic.png" />
		</a>
	</div>
</div>
<div class="separador" style=" margin-top: 35px; "></div>
<div class="indice">
	<div class="indice-blues-bar">
		<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/blues.png" />
	</div>
	<div class="indice-blues" style="display: flex;flex-wrap: wrap;height: 638px;">
		<a class="imgIndexBlues" href="/forumdisplay.php?fid=6" style="display: flex;width: 50%;">
			<img style="width: 100%;" src="https://nakamanomi.com/images/op/index/north_blue.png" />
		</a>
		<a class="imgIndexBlues" href="/forumdisplay.php?fid=4" style="display: flex;width: 50%;">
			<img style="width: 100%;" src="https://nakamanomi.com/images/op/index/east_blue.png" />
		</a>
		<a class="imgIndexBlues" href="/forumdisplay.php?fid=5" style="display: flex;width: 50%;">
			<img style="width: 100%;" src="https://nakamanomi.com/images/op/index/west_blue.png" />
		</a>
		<a class="imgIndexBlues" href="/forumdisplay.php?fid=7" style="display: flex;width: 50%;">
			<img style="width: 100%;" src="https://nakamanomi.com/images/op/index/south_blue.png" />
		</a>
		
		<!-- 
		<div >
			
			<div class="FInf forumbit_description_hidden">
				<div class="Posts"><p></p></div>
			</div>
		</div>
		<div style="display: flex;width: 50%;">
			
			<div class="FInf forumbit_description_hidden">
				<div class="Posts"><p></p></div>
			</div>
		</div>
		<div style="display: flex;width: 50%;">
			
			<div class="FInf forumbit_description_hidden">
				<div class="Posts"><p></p></div>
			</div>
		</div>
		<div style="display: flex;width: 50%;">
			
			<div class="FInf forumbit_description_hidden">
				<div class="Posts"><p></p></div>
			</div>
		</div>
		-->
</div>
<div class="separador" style=" margin-top: 35px; "></div>
<div class="indice">
	<div class="indice-red-line-bar">
		<img style=" width: 100%; " src="https://nakamanomi.com/images/op/index/redline.png" />
	</div>
	<div class="indice-red-line" style="display: flex;flex-wrap: wrap;height: 319px;">
		<a class="imgIndexRedline" href="/forumdisplay.php?fid=6" style="display: flex;width: 100%;">
			<img style="width: 100%;" src="https://nakamanomi.com/images/op/index/red_line.png" />
		</a>
</div>
	
</div>
	
<script>
	$( ".indice-general-bar" ).on( "click", function() {
	  $( ".indice-general" ).toggleClass( "hide-content" );
	  $( ".imgIndexGeneral img" ).toggleClass( "hide-content" );
	});
	
	$( ".indice-blues-bar" ).on( "click", function() {
	  $( ".indice-blues" ).toggleClass( "hide-content" );
	  $( ".imgIndexBlues img" ).toggleClass( "hide-content" );
	});
	
	$( ".indice-red-line-bar" ).on( "click", function() {
	  $( ".indice-red-line" ).toggleClass( "hide-content" );
	  $( ".imgIndexRedline img" ).toggleClass( "hide-content" );
	});
/* $('.imgIndexBlues').mouseenter((img) => {
	console.log(img);
    forumDesc = img.currentTarget.nextElementSibling;
    $(forumDesc).addClass('forumbit_description_show');
    $(forumDesc).removeClass('forumbit_description_hidden');
    
    $(forumDesc).mouseleave((img) => {
        $(img.currentTarget).removeClass('forumbit_description_show');
        $(img.currentTarget).addClass('forumbit_description_hidden');
    });
});	*/
</script>