<tr>
<td align="center" class="{$trow}{$thread_type_class}" width="2%" style="padding: 0 40px 0 10px;"><span class="thread_status {$folder}" title="{$folder_label}">
	<if $folder == 'folder' then>
		<img src="https://cdn.discordapp.com/attachments/1103528782503096410/1138064985814204466/05-_Boton_tipos_de_tema_-_Leido_45X63.png">
	</if>
	<if $folder == 'newfolder' then>
		<img src="https://cdn.discordapp.com/attachments/1103528782503096410/1138064985491247135/05-_Boton_tipos_de_tema_-_Nuevo_45X63.png">
	</if>
	<if $folder == 'newclosefolder' ||  $folder == 'closefolder'  then>
		<img src="https://cdn.discordapp.com/attachments/1103528782503096410/1138064985185058947/05-_Boton_tipos_de_tema_-_Cerrado_45X63.png">
	</if>
	<!-- &nbsp; --></span></td>
    <!-- <td class="{trow}{thread_type_class}" width="2%">{icon}</td> -->
    <td class="{$trow}{$thread_type_class}">{$arrow}&nbsp;{$recentprefix}<span class="{$new_class}" id="tid_{$thread['tid']}"><a href="{$mybb->settings['bburl']}/showthread.php?tid={$thread['tid']}">{$thread['subject']}</a></span>&nbsp;&nbsp;{$thread['multipage']}<br />{$create_string} {$thread['author']}<br />{$posteravatar}</td>
    <td class="{$trow}{$thread_type_class}">{$recentthread_breadcrumbs}</td>
    <td class="{$trow}{$thread_type_class}"><a href="javascript:MyBB.whoPosted({$thread['tid']});">{$thread['replies']}</a></td>
    <td class="{$trow}{$thread_type_class}">{$lastposttimeago}<br />
    <a href="{$lastpostlink}">Último post:</a> {$lastposterlink}<br />{$lastavatar}</td>
{$modcol}
    </tr>