<html>

<head>
  <title>Ficha Nueva</title>
  {$headerinclude}
  <style>
   
  </style>
</head>

<body>
  {$header}
  <table border="0" cellspacing="{$theme['borderwidth']}" cellpadding="{$theme['tablespace']}" class="tborder">
    <tr>
		<td class="thead" colspan="1"><strong>Ficha</strong></td>
    </tr>
    <tr>
      <td class="trow1" valign="top">
        <div class="div_ficha" style="text-align: center;">
			<p style=" font-family: LemonMilkMedium; color: #7c3ea3; font-size: 26px; border: 2px dotted #5a346f; width: 406px; margin: 7px auto 20px auto; padding: 4px; border-radius: 2px; ">¡Inicia tu nueva aventura!</p>
          <form method="post" action="./ficha_crear.php" name="ficha_nueva" id="ficha_nueva_form">
            Nombre del Personaje:<br><input style=" width: 200px; " class="textbox" type="text" name="nombre" required=""><br>
            <br>
            Apodo (opcional):<br><input style=" width: 200px; " class="textbox" type="text" name="apodo"><br>
            <br>
            Edad:<br><input style=" width: 200px; " type="number" class="textbox" name="edad" min="12" max="90" required=""><br><br>
			Altura (en centímetros):<br><input style=" width: 200px; " type="number" class="textbox" name="altura" min="1" max="1500" required=""><br><br>
			Peso (en kilos):<br><input style=" width: 200px; " type="number" class="textbox" name="peso" min="0" max="5000" required=""><br><br>
			<label for="sexo">Sexo:</label><br>
			<select style=" width: 200px; " name="sexo" id="sexo" value="hombre">
			  <option value="hombre">Hombre</option>
			  <option value="mujer">Mujer</option>
			  <option value="otro">Otro</option>
			</select><br><br>
			<label for="faccion">Facción:</label><br>
			<select style=" width: 200px; " name="faccion" id="faccion" value="pirata">
			  <option value="pirata">Pirata</option>
			  <option value="marine">Marine</option>
			  <option value="cipher_pol">Cipher Pol</option>	
			  <option value="cazarrecompensas">Cazarrecompensas</option>
			  <option value="revolucionario">Revolucionarios</option>	
			  <option value="civil">Civil</option>
			</select><br><br>
			<label for="raza">Raza:</label><br>
			<select style=" width: 200px; " name="raza" id="raza" value="humano">
			  <option disabled>Razas:</option>
			  <option selected value="humano">Humano</option>
			  <option value="gyojin">Gyojin</option>
			  <option value="gigante">Gigante</option>
			  <option value="ningyo">Sirena/Tritón (Ningyo)</option>		
			  <option value="skypiean">Skypiean</option>		
			  <option value="mink">Mink</option>		
			  <option value="tontatta">Tontatta (Kobito)</option>		
			  <option value="lunarian">Lunarian</option>		
			  <option value="oni">Oni</option>
			  <option disabled>Razas Híbridas</option>
			  <option value="birkaniano">Birkaniano</option>
			  <option value="gran mink">Gran Mink</option>
			  <option value="gran oni">Gran Oni</option>
			  <option value="gran triton">Gran Tritón</option>
			  <option value="gyontatta">Gyontatta</option>
			  <option value="humink">Humink</option>
			  <option value="mestizo">Mestizo</option>
			  <option value="semigigante">Semigigante</option>
			  <option value="semioni">Semioni</option>
			  <option value="tontatton">Tontatton</option>
			  <option value="wotan">Wotan</option> 
			</select><br>
            <br><br>
            Apariencia (mínimo 700 carácteres):<br><textarea style="width: 500px;height: 100px;" name="apariencia" minlength="700" required=""></textarea><br>
            <br>
            Personalidad (mínimo 700 carácteres):<br><textarea style="width: 500px;height: 100px;" name="personalidad" minlength="700" required=""></textarea><br>
            <br>
            Historia (mínimo 1500 carácteres):<br><textarea style="width: 500px;height: 100px;" name="biografia" minlength="1500" required=""></textarea><br>
			<br>
            Rasgos positivos (opcional):<br><textarea style="width: 500px;height: 100px;" name="rasgos_positivos" minlength="8" placeholder="Colocar lista de rasgos positivos y al final la suma de karma positivo. Por ejemplo: Positivo, Mente tranquila, Alter-Ego, Oratoria impertubable. Karma positivo: +19"></textarea><br>
			<br>
            Rasgos negativos (opcional):<br><textarea style="width: 500px;height: 100px;" name="rasgos_negativos" minlength="8" placeholder="Colocar lista de rasgos negativos y al final la suma de karma negativo. Por ejemplo: Tuerto, Ciego, Mudo, Sordo. Karma negativo: -26"></textarea><br>
            <br>
            Información extra (opcional):<br><textarea style="width: 500px;height: 100px;" name="extra" placeholder="- Le gusta comer Oden."></textarea><br>
            <br>
            Frase que representa al usuario (opcional):<br><textarea style="width: 500px;height: 100px;" style="height: 55px;" name="frase" placeholder="¡Oden, cuánto más hervido, mejor!"></textarea><br>
            <br>
			Orientación sexual del personaje (obligatorio):<br><textarea style="width: 500px;height: 38px;" name="orientacion" required="" placeholder="Esto estará oculto, sirve de referencia para casos relacionados a frutas."></textarea><br><br>
			Origen del físico del personaje (obligatorio):<br><textarea style="width: 500px;height: 38px;" name="fisico_de_pj" required="" placeholder="Por favor, seguir el formato de: Nombre del Físico - Serie/Juego de donde proviene."></textarea><br>
			<br>
			¿Cómo conociste/encontraste este foro? (obligatorio):<br><textarea style="width: 500px;height: 38px;" name="como_nos_conociste" required="" placeholder="Google, afiliado, red social, otro usuario, etc..."></textarea><br>
			<br>
			Notas: (obligatorio):<br><textarea style="width: 500px;height: 38px;" name="notas" required="" placeholder="Especificar aquí los datos del personaje de acuerdo al anuncio."></textarea><br>
			<br>
			<br>
			<div><input style=" font-size: 23px; " class="button" id="crear_ficha" type="submit" value="Crea tu Ficha"></div><br>
            <br>
          </form>
        </div>
        <br />
      </td>
    </tr>
  </table>
  {$footer}
  {$nueva_ficha_script}
</body>

</html>