<html>

<head>
  <title>Ficha</title>
  {$headerinclude}
  <style>
	  .pestana {
		color: white;
		width: 248px;
		text-align: center;
/* 		clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%); */
	    border-start-start-radius: 50px;
    	border-start-end-radius: 50px;
		height: 30px;
		background-color: #835cbf;
		font-family: moonGetHeavy;
	    transition: all 0.2s ease-out;
		cursor: pointer;
		border: 1px solid #835cbf;
	    border-bottom: 0px;
	  }
	  
	  .pestana:hover {
		  background-color: #6843a0;
	  }
	  
	  .pestana-texto {
		top: 5px;
		position: relative;
	    text-shadow: 1px 1px 0px black;
	  }
	  
	  .pestana-active {
		  border: 1px solid white;
		  border-bottom: 0px;
		  background-color: #6843a0;
	  }
	  
	  .fondo-ficha {
		  background-color: #9664e0;
		  width: 1000px;
		  background-image: url(/images/op/ficha/FondoMultipleFicha{$faccion}_One_Piece_Gaiden_Foro_Rol.png);
		  height: 1400px;
		  box-shadow: 0px 5px 11px black;
		  background-size: cover;
	  }
	  
	  .tag-ficha {
		  width: 230px;
		  height: 50px;
		  background-color: white;
		  margin: 5px 0px 5px 28px;
		  border-end-end-radius: 50px;
		  border-start-end-radius: 50px;
		  border: 1px solid #00bcff;
		  box-shadow: 0px 0px 8px black;
	      margin-bottom: 20px;
	  }
	  
	  .tag-ficha-texto {
		 font-family: 'moonGetHeavy';
		 letter-spacing: 1px;
		 color: black;
		 font-size: 25px;
		 top: 7px;
		 position: relative;
		 left: 11px;
	  }
	  
	  .tag-ficha-kanji {
		 height: 45px;
		 width: 45px;
		 background-color: black;
		 position: relative;
		 top: -34px;
		 left: 181px;
		 border-radius: 51px;
	  }
	  
	  .tag-ficha-kanji-texto {
		 color: white;
		 font-size: 31px;
		 position: relative;
		 left: 8px;
		 top: 0px;
	  }
	  
	  .stat-diamante-grande {
			height: 110px;
			width: 110px;
			transform: rotate(45deg);
			border: 4px solid black;
			box-sizing: border-box;
			box-shadow: 0px 0px 10px black;
	  }
	  
	  .stat-diamante-pequeno {
			height: 80px;
			width: 80px;
			transform: rotate(45deg);
			border: 4px solid white;
			box-sizing: border-box;
			box-shadow: 0px 0px 10px black;
	  }
	  
  </style>
</head>

<body>
  {$header}
  <div class="indice">
	<div class="mainBackground">
		<div class="secondBackground">
			<div class="thirdBackground">
				<div style=" display: flex; flex-direction: row; ">
					<div class='pestana pestana-active' id='pestana_biografia' onclick="clickPestana('biografia');"><span class="pestana-texto">Biografía</span></div>
					<div class='pestana' id='pestana_reputacion' onclick="clickPestana('reputacion');"><span class="pestana-texto">Reputación</span></div>
					<div class='pestana' id='pestana_habilidades' onclick="clickPestana('habilidades');" ><span class="pestana-texto">Habilidades</span></div>
					<div class='pestana' id='pestana_inventario' onclick="clickPestana('inventario');"><span class="pestana-texto">Inventario</span></div>
				</div>
				<div class="fondo-ficha">
					<div id="biografia" style="display:block;">
						<div style=" display: flex; flex-direction: column; ">
							<div style=" margin-top: 50px; text-align: center; ">
								<img src="/images/op/ficha/MarcoNombre_One_Piece_Gaiden_Foro_Rol.png" />
								<div style=" margin-top: -112px; ">
									<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;text-shadow: 2px 2px 0px black;color: #ff7e00;font-size: 50px;">{$ficha['nombre']}</span>
								</div>
								<div style=" margin-top: 3px; ">
									<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: {$faccionColor};font-size: 25px;">{$ficha['apodo']}</span>
								</div>
							</div>
							<div style="margin-top: 20px;flex-direction: row;display: flex;height: 500px;">
								<div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['raza']}</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['altura']} CM</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['peso']} KG</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['sexo']}</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['edad']}</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['temporada']}</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
									
									<div class="tag-ficha">
										<div class="tag-ficha-texto">{$ficha['sangre']}</div>
										<div class="tag-ficha-kanji"><div class="tag-ficha-kanji-texto">歳</div></div>
									</div>
								</div>
								<div class="ficha-stats" style="width: 442px;margin-top: 25px;">									
									<div style="top: -8px;position: relative;left: 0px;">
										<div class="stat-diamante-grande" style="margin: auto;background: radial-gradient(circle, rgba(4,255,127,1) 2%, rgba(25,228,90,1) 89%);"></div>
										<div style="text-align: center;position: relative;top: -105px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 22px;">PV</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 31px;">1500</span>
										</div>
									</div>
									
									<div style="top: -102px;position: relative;left: -92px;">
										<div class="stat-diamante-grande" style="margin: auto;background: radial-gradient(circle, rgba(255,228,150,1) 2%, rgba(255,220,115,1) 89%);"></div>
										<div style="text-align: center;position: relative;top: -105px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 22px;">PE</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 31px;">900</span>
										</div>
									</div>
									
									<div style="top: -288px;position: relative;left: 92px;">
										<div class="stat-diamante-grande" style="margin: auto;background: radial-gradient(circle, rgba(140,183,255,1) 2%, rgba(70,144,255,1) 89%);"></div>
										<div style="text-align: center;position: relative;top: -105px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 22px;">PH</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 31px;">500</span>
										</div>
									</div>
									
									
									<div style="top: -390px;position: relative;left: 0px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">FUE</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">30</span>
										</div>
									</div>
									<div style="top: -460px;position: relative;left: -66px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">RES</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">100</span>
										</div>
									</div>
									
									<div style="top: -596px;position: relative;left: 65px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">DES</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">50</span>
										</div>
									</div>
									
									<div style="top: -667px;position: relative;left: -133px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">PUN</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">75</span>
										</div>
									</div>
									
									<div style="top: -803px;position: relative;left: 0px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">AGI</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">45</span>
										</div>
									</div>
									
									<div style="top: -939px;position: relative;left: 132px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">REF</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">70</span>
										</div>
									</div>
									
									<div style="top: -1010px;position: relative;left: -65px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">CA</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">100</span>
										</div>
									</div>
									
									<div style="top: -1146px;position: relative;left: 65px;">
										<div class="stat-diamante-pequeno" style="margin: auto;background: #0039ed;"></div>
										<div style="text-align: center;position: relative;top: -71px;"> 
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 15px;">VOL</span><br>
											<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;">90</span>
										</div>
									</div>
									
								</div>
								<div>
									<div style=" width: 250px; height: 450px; background-color: white; border: 15px solid white; box-shadow: 0px 0px 10px black; border-bottom: 20px solid white; ">
										<img src="https://cdn.discordapp.com/attachments/884606837943582784/1189628802045837332/image.png" style=" width: 250px; height: 450px; " />
										<div 
											 style=" font-family: 'moonGetHeavy'; letter-spacing: 1px; color: black; font-size: 10px; top: 3px; position: relative; /* left: 11px; */ text-align: center; ">
											Nanami Kento - Jujutsu Kaisen
										</div>
										
									</div>
								</div>
							</div>
							<div style="margin-top: 20px;flex-direction: row;display: flex;">
								
								<div style="margin-left: 28px; margin-top: 20px;flex-direction: column;display: flex;">
									<div style=" flex-direction: row; display: flex; ">
										<div style=" box-shadow: 0px 0px 10px black; ">
											<div style="width: 300px;height: 35px;text-align: center;background-color: #ff7e00;">
												<span style=" font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 28px; ">APARIENCIA</span>
											</div>	
											<div style=" width: 300px; height: 220px; background-color: white; border: 5px solid #ff7e00; box-sizing: border-box; ">
												<div style=" font-family: InterRegular; margin: 3px; font-size: 14px; ">dasd asdsa dsad sad as dasds dsad asds dasdas</div>
											</div>	
										</div>
										<div style=" margin-left: 20px; box-shadow: 0px 0px 10px black; ">
											<div style="width: 300px;height: 35px;text-align: center;background-color: #ff7e00;">
												<span style=" font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 28px; ">PSICOLOGÍA</span>
											</div>	
											<div style=" width: 300px; height: 220px; background-color: white; border: 5px solid #ff7e00; box-sizing: border-box; ">
												<div style=" font-family: InterRegular; margin: 3px; font-size: 14px; ">dasd asdsa dsad sad as dasds dsad asds dasdas</div>
											</div>	
										</div>
									</div>
									
									<div style=" margin-top: 20px; ">
										<div style=" box-shadow: 0px 0px 10px black; ">
											<div style="width: 620px;height: 35px;text-align: center;background-color: #ff7e00;">
												<span style=" font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 28px; ">HISTORIA</span>
											</div>	
											<div style=" width: 620px; height: 220px; background-color: white; border: 5px solid #ff7e00; box-sizing: border-box; ">
												<div style=" font-family: InterRegular; margin: 3px; font-size: 14px; ">dasd asdsa dsad sad as dasds dsad asds dasdas</div>
											</div>	
										</div>
									</div>
									
									
								</div>
								<div style="margin-top: 20px;flex-direction: column;display: flex;margin-left: 54px;">
									<div style="width: 280px;height: 70px;box-sizing: border-box;border-radius: 50px;border: 6px solid white;box-shadow: 2px 2px 20px black;background: linear-gradient(42deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);text-align: center;position: relative;top: -41px;">
										<span style=" color: white; font-family: 'naruto'; font-size: 38px; text-shadow: 1px 1px 1px black; position: relative; top: 6px; ">ALMIRANTE</span>
									</div>
									
									<div style="margin-top: -10px;transform: rotate(357deg);/* box-shadow: 0px 0px 10px black; */width: 260px;">
										<div style="box-shadow: 0px 0px 10px black;">
											<div style="width: 260px;height: 45px;text-align: left;background-color: #9664e0;border-bottom: 2px dashed black;">
												<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 14px;position: relative;top: 3px;left: 10px;">BANCO MUNDIAL OPG EXTRACTO DE CUENTA</span>
											</div>	
											<div style="width: 260px;height: 60px;text-align: left;background-color: #d2b1ff;">
												<div style=" position: relative; top: 8px; left: 7px; ">
													<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 15px;">BERRIES......15.000.000</span>
													<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: black;font-size: 15px;">NIKAS....................150</span>
												</div>
											</div>	
										</div>
									</div>
									
									<div style="width: 280px;height: 350px;background-color: #0000003b;margin-top: 20px;border: 4px dashed black;border-radius: 13px;margin-left: -16px;margin-top: 36px;">
										<span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 24px;position: relative;top: -17px;left: 80px;">EXTRAS</span>
										<div style=" font-family: 'moonGetHeavy'; letter-spacing: 1px; color: white; font-size: 18px; padding: 0px 10px; ">
										- Patata <br> - Unicornios
										</div>	
									</div>
									
									
<!-- 									<div>CAZADOR</div> -->
								</div>
								
							</div>
							
						</div>
					</div>
					<div id="reputacion" style="display:none;">
						
					</div>
					<div id="habilidades" style="display:none;">
						
					</div>
					<div id="inventario" style="display:none;">
						
					</div>
				</div>
				
			</div>
		</div>
	 </div>
  </div>
  {$footer}
</body>
	
<script>
function clickPestana(tipo) {
	console.log('{$should_see_private}');
	$('.pestana').removeClass('pestana-active');

	if (tipo == 'biografia') {
		$('#biografia').css('display', 'block');
		$('#reputacion').css('display', 'none');
		$('#habilidades').css('display', 'none');
		$('#inventario').css('display', 'none');
		$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/FondoMultipleFicha{$faccion}_One_Piece_Gaiden_Foro_Rol.png)');
		$('#pestana_biografia').addClass('pestana-active');
	}

	if (tipo == 'reputacion') {
		$('#biografia').css('display', 'none');
		$('#reputacion').css('display', 'block');
		$('#habilidades').css('display', 'none');
		$('#inventario').css('display', 'none');
		$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/FondoMultipleFicha{$faccion}_One_Piece_Gaiden_Foro_Rol.png)');
		$('#pestana_reputacion').addClass('pestana-active');
	}

	if (tipo == 'habilidades') {
		$('#biografia').css('display', 'none');
		$('#reputacion').css('display', 'none');
		$('#habilidades').css('display', 'block');
		$('#inventario').css('display', 'none');
		$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/FondoMultipleFicha{$faccion}_One_Piece_Gaiden_Foro_Rol.png)');
		<if !$should_see_private then>
			$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/PortadaConfidencial_One_Piece_Gaiden_Foro_Rol.png)');
		</if>
		$('#pestana_habilidades').addClass('pestana-active');
	}

	if (tipo == 'inventario') {
		$('#biografia').css('display', 'none');
		$('#reputacion').css('display', 'none');
		$('#habilidades').css('display', 'none');
		$('#inventario').css('display', 'block');
		$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/FondoMultipleFicha{$faccion}_One_Piece_Gaiden_Foro_Rol.png)');
		<if !$should_see_private then>
			$('.fondo-ficha').css('background-image', 'url(/images/op/ficha/PortadaConfidencial_One_Piece_Gaiden_Foro_Rol.png)');
		</if>
		$('#pestana_inventario').addClass('pestana-active');
	}

}	
</script>

</html>