<script>
  /* Función para calcular vida del personaje */
	let fuerza = document.getElementById('fuerza');
    let resistencia = document.getElementById('resistencia');
	let destreza = document.getElementById('destreza');
	let agilidad = document.getElementById('agilidad');
	let punteria = document.getElementById('punteria');
    let reflejos = document.getElementById('reflejos');
	let voluntad = document.getElementById('voluntad');

    let control_akuma = document.getElementById('control_akuma');

    let vitalidad = document.getElementById('vitalidad');
    let energia = document.getElementById('energia');
    let haki = document.getElementById('haki');
	
    let puntos_estadistica = document.getElementById('puntos_estadistica');
	let nivelActual = Math.floor(getSumOfAllStats() / 70) + 1;
	const limiteNivel = 10;
	let subioNivel = false;

    $('.total_puntos')[0].innerHTML = getSumOfAllStats();
	$('.nivel')[0].innerHTML = nivelActual;
	
    function calcVitalidad(fuerza, resistencia, destreza, agilidad, voluntad, nivel) {
        return Math.floor(((fuerza * 5) + (resistencia * 6) + (destreza * 2) + (agilidad * 1) + (voluntad * 1)) * (1 + (nivel / 33.333333)));
    }

    /* function calcEnergia(voluntad, punteria, reflejos, control_akuma) {
        return (voluntad * 3) + (punteria * 1) + (reflejos * 1) + (control_akuma * 1);
    } */
	
	 function calcEnergia(fuerza, resistencia, destreza, punteria, agilidad, reflejos, voluntad, akuma) {
		return (fuerza * 1) + (resistencia * 1) + (destreza * 1) + (punteria * 1) + (agilidad * 1) + (reflejos * 1) + (voluntad * 1) + (akuma * 1);
  	}

    function calcHaki(voluntad) {
        return Math.round((voluntad * 1));
    }

    function modifyAttributes(nivel) {
        vitalidad.value = calcVitalidad(parseInt(fuerza.value), parseInt(resistencia.value), parseInt(destreza.value), parseInt(agilidad.value), parseInt(voluntad.value), nivel);
	
		 energia.value = calcEnergia(parseInt(fuerza.value), parseInt(resistencia.value), parseInt(destreza.value), parseInt(punteria.value), parseInt(agilidad.value), parseInt(reflejos.value), parseInt(voluntad.value), parseInt(control_akuma.value));
		
        haki.value = calcHaki(parseInt(voluntad.value));
   }
  
    function changeStat(statId, num) {
		const nuevoNivel = Math.floor((getSumOfAllStats() + 1) / 70) + 1;
   		const statLimit = calculateMinMaxStat();
		
		if (num >= 1 && getSumOfAllStats() >= 390) {
		  alert('Ya has asignado la máxima cantidad de estadísticas. ¡Felicidades!');
		} else if (num >= 1 && getSumOfAllStats() >= limiteNivel * 80) {
		  alert('No puedes asignar mas de ' + (limiteNivel * 70) + ' puntos de estadistica.');
		} else if (puntos_estadistica.value == 0 && num >= 1) {
		  alert('No tienes más puntos de estadísticas.');
		} else if (statId.value >= statLimit.max) {
		  alert('Ya has asignado el máximo de puntos para esta estadística.')
		} else if (num <= -1 && checkStatGoLessThanAlreadySet(statId)) {
		  alert('No puedes quitar mas puntos a esta estadistica.');
		} else if (num >= 1 && (checkMinimumForEachStat(statLimit.min) && parseInt(statId.value) >= statLimit.min)) {
		  alert('Tienes que subir primero las estadísticas inferiores a ' + statLimit.min + '.');
		} else {
			
			if (subioNivel) {
				alert('¡Has subido de nivel (brutal, lo sé), pero si quieres subir más estadísticas debes primero guardar tu progreso!');
				return;
			}

			statId.value = parseInt(statId.value) + parseInt(num);
			puntos_estadistica.value = parseInt(puntos_estadistica.value) - parseInt(num);
			$('.nivel')[0].innerHTML = nuevoNivel;
			$('.total_puntos')[0].innerHTML = getSumOfAllStats();
			modifyAttributes(nuevoNivel);
		}
    }
	
	function calculateMinMaxStat() {
		const nivel = Math.floor(getSumOfAllStats() / 70) + 1;
		const statLimit = {
		  min: 0,
		  max: 30
		}
		
		statLimit.min = nivel * 3;
		statLimit.max = 60 + ((nivel - 1) * 10);

		return statLimit;
	}
	
	function checkMinimumForEachStat(minStat) {

		let fuerzaActual = document.getElementById('fuerza');
		let resistenciaActual = document.getElementById('resistencia');
		let reflejosActual = document.getElementById('reflejos');
		let punteriaActual = document.getElementById('punteria');
		let voluntadActual = document.getElementById('voluntad');
		let agilidadActual = document.getElementById('agilidad');
		let destrezaActual = document.getElementById('destreza');
		let controlAkumaActual = document.getElementById('control_akuma');
		
		if (fuerzaActual.value < minStat || resistenciaActual.value < minStat || 
			reflejosActual.value < minStat || punteriaActual.value < minStat || 
			voluntadActual.value < minStat || agilidadActual.value < minStat || 
			destrezaActual.value < minStat) {
		  return true;
		}
		return false;
	}
	
	function checkStatGoLessThanAlreadySet(statId) {
		switch (statId.name) {
		  case "fuerza": if (statId.value == {$ficha['fuerza']}) return true; break;
		  case "resistencia": if (statId.value == {$ficha['resistencia']}) return true; break;
		  case "reflejos": if (statId.value == {$ficha['reflejos']}) return true; break;
		  case "punteria": if (statId.value == {$ficha['punteria']}) return true; break;
		  case "voluntad": if (statId.value == {$ficha['voluntad']}) return true; break;
		  case "agilidad": if (statId.value == {$ficha['agilidad']}) return true; break;
		  case "destreza": if (statId.value == {$ficha['destreza']}) return true; break;
		  case "control_akuma": if (statId.value == {$ficha['control_akuma']}) return true; break;
		}
		return false;
	}
  
    function getSumOfAllStats() {
        let fuerza = document.getElementById('fuerza');
        let resistencia = document.getElementById('resistencia');
        let reflejos = document.getElementById('reflejos');
        let punteria = document.getElementById('punteria');
        let voluntad = document.getElementById('voluntad');
        let agilidad = document.getElementById('agilidad');
        let destreza = document.getElementById('destreza');
        let akuma = document.getElementById('control_akuma');
        return parseInt(fuerza.value) + parseInt(resistencia.value) + parseInt(destreza.value) + parseInt(agilidad.value) + 
            parseInt(voluntad.value) + parseInt(punteria.value) + parseInt(reflejos.value) + parseInt(control_akuma.value);
    }
  
</script>