<html>
	<head>
		<style>
		.container {
			text-align: center;	
			font-size: 25px;
		}
			
		.container h3, .container h5, .container h6, .container h4 {
			 margin: 5px 0px;	
		}

		</style>
		<title>Censo</title>
		{$headerinclude}
	</head>
	<body>
		{$header}
		<br>
		<div class="indice">
		<div class="mainBackground">
			<div class="secondBackground">
				<div class="thirdBackground">
					<div style="margin-bottom: 10px;">
						<img src="/images/op/misc/TituloVirtudesyDefectos_One_Piece_Gaiden_Foro_Rol.png" />
					</div>
					<div style="display: flex; flex-direction: row;">
						<img src="/images/op/misc/VirtudesIzquierda_One_Piece_Gaiden_Foro_Rol.png" />

						<div style=" width: 310px; height: 770px; box-sizing: border-box; background-color: #ba8ce6; border-top: 8px solid black; border-bottom: 8px solid black; border-right: 4px solid black;overflow: scroll;scrollbar-width: none;">
							<div class="virtudesList"></div>
						</div>
						<div style=" width: 310px; height: 770px; box-sizing: border-box; background-color: #ba8ce6; border-top: 8px solid black; border-bottom: 8px solid black; border-left: 4px solid black;overflow: scroll;scrollbar-width: none;">
							<div class="defectosList"></div>
						</div>
						<img src="/images/op/misc/VirtudesDerecha_One_Piece_Gaiden_Foro_Rol.png" />
					</div>

				</div>
			</div>
		   </div>
	    </div>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<span class="h6">Acción:</span>
					<select class="form-control" id="select-accion" onchange="onChangeAccion(this)" style=" color: white; ">
						<option value='censo'>Censo</option>
					</select>
				</div>
				<div class="col-3">
					<span class="h6">Duración:</span>
					<select class="form-control" id="select-tiempo" onchange="onChangeTiempo(this)" style=" color: white; ">
						<option value='1'>24 horas</option>
						<option value='2'>48 horas</option>
						<option value='7'>1 semana</option>
						<option value='14'>2 semanas</option>
						<option value='28'>4 semanas</option>
					</select>
				</div>
			</div>
			<br>
			
			<if $accion == 'censo' then>
				<div class="text-center">
					<h3>Censo</h3><br>
					<h5>({$totalPjs} personajes han posteado en la zona de rol {$numeroPosts} veces en <span class="duracion"></span>)</h5><br>
				</div>
				<div class="text-center">
					<div>
						<h5>Pirata - {$pirata_personas} personas</h5>
					</div>
					<br>
					<div>
						<h5>Marine - {$marine_personas} personas</if></h5>
					</div>
					<br>
					<div>
						<h5>Cipher Pol - {$cipher_pol_personas} personas </if></h5>
					</div>
					<br>
					<div>
						<h5>Revolucionario - {$revo_personas} personas</if></h5>
					</div>
					<br>
					<div>
						<h5>Civil - {$civil_personas} personas </h5>
					</div>
					<br>
				</div>
			</if>
		</div>
		{$footer}
	</body>
	<script>
		function onChangeTiempo(tiempo) {
			console.log(tiempo);
			window.location.href = window.location.pathname + '?accion={$accion}&tiempo=' + tiempo.value;
		}
		
		function onChangeAccion(accion) {
			console.log(accion);
			window.location.href = window.location.pathname + '?accion=' + accion.value + '&tiempo={$tiempo}';
		}
		
		document.getElementById("select-tiempo").value = "{$tiempo}";
		document.getElementById("select-accion").value = "{$accion}";
		$('.duracion').map((i) => {
			$('.duracion')[i].innerHTML = $("#select-tiempo").find("option[value='{$tiempo}']").text();
		});
	</script>
</html>