<div id="tecnicass" style="display:none;">
    <script>
        // Inicializar variable de técnicas HTML desde PHP
        var tecnicas_html_json = {$tecnicas_html_json};
    </script>
    <div style="margin-top: 0px;flex-direction: row;display: flex;">
        <div style=" flex-direction: column; display: flex; margin-left: 25px;">
            <div style="background-color: transparent;margin-left: 25px;margin-top: 20px;flex-direction: column;display: flex;">
                <div style="box-shadow: 0px 0px 0px black;">
                    <div style="width: 240px;height: 40px;text-align: center;background-color: #0055bb;" class="barra-op bbox">
                        <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 19px;line-height: 38px;text-shadow: 1px 1px 1px black;">GOLPE BÁSICO</span></div>                    <div style="width: 240px;height: 60px;background-color: #ffffffa8;text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;position: relative;" class="bbox">
                        <div><span id="golpe-basico-dano" style=" color: black; font-size: 26px; font-family: moonGetHeavy; ">0</span></div>
                        <div><span id="golpe-basico-tipo" style=" color: black; font-size: 14px; font-family: moonGetHeavy; ">DE DAÑO CONTUNDENTE</span></div>
                        <div id="indicador-armas" style="position: absolute; bottom: 80px; right: 0px; background-color: #ff7e00; color: white; border-radius: 50%; width: 18px; height: 18px; font-family: moonGetHeavy; font-size: 12px; font-weight: bold; line-height: 18px; display: none;">2</div>
                    </div>
                    <div style="margin-top: 12px;">
                        <div style="width: 240px;height: 40px;text-align: center;background-color: #853dee;" class="barra-op bbox">
                            <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 16px;line-height: 38px;text-shadow: 1px 1px 1px black;">DAÑO TÉCNICA</span>
                        </div>
                        <div style="width: 240px;height: 60px;background-color: #ffffffa8;text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;" class="bbox">
                            <div><span id="dano-tecnica-valor" style=" color: black; font-size: 26px; font-family: moonGetHeavy; ">0</span></div>
                            <div><span id="dano-tecnica-descripcion" style=" color: black; font-size: 14px; font-family: moonGetHeavy; ">SELECCIONE TÉCNICA</span></div>
                        </div>
                    </div>
                    <div style="margin-top: 12px;">
                        <div style="width: 240px;height: 40px;text-align: center;background-color: #ff7e00;" class="barra-op bbox">
                            <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 16px;line-height: 38px;text-shadow: 1px 1px 1px black;">DAÑO TOTAL</span>
                        </div>
                        <div style="width: 240px;height: 60px;background-color: #ffffffa8;text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;" class="bbox">
                            <div><span id="dano-total-valor" style=" color: black; font-size: 26px; font-family: moonGetHeavy; ">0</span></div>
                            <div><span id="dano-total-descripcion" style=" color: black; font-size: 11px; font-family: moonGetHeavy; ">DAÑO COMBINADO</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
        <div style=" flex-direction: column; display: flex; margin-left: 10px;">
            <div style="background-color: transparent;margin-left: 25px;margin-top: 20px;flex-direction: column;display: flex;">                
                <div style="box-shadow: 0px 0px 0px black;">                    
                    <div style="width: 300px;height: 40px;text-align: center;background-color: #0055bb;" class="barra-op bbox">
                        <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 19px;line-height: 38px;text-shadow: 1px 1px 1px black;">AJUSTE DE ATRIBUTOS</span>
                    </div>
                    <div style="width: 300px;height: 212px;background-color: #ffffffa8;text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;" class="bbox">
                        <div style="display: flex; height: 15px; background-color: #e0e0e0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;">
                            <div style="width: 60px; text-align: center; font-family: 'moonGetHeavy'; font-size: 11px; line-height: 15px;">Attr</div>
                            <div style="width: 80px; text-align: center; font-family: 'moonGetHeavy'; font-size: 11px; line-height: 15px;">Base</div>
                            <div style="width: 80px; text-align: center; font-family: 'moonGetHeavy'; font-size: 11px; line-height: 15px;">Modificador</div>
                            <div style="width: 80px; text-align: center; font-family: 'moonGetHeavy'; font-size: 11px; line-height: 15px;">Final</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">NIV</div>
                            <div id="atributo-base-NIV" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-NIV" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-NIV" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">FUE</div>
                            <div id="atributo-base-FUE" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-FUE" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-FUE" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">AGI</div>
                            <div id="atributo-base-AGI" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-AGI" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-AGI" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">PUN</div>
                            <div id="atributo-base-PUN" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-PUN" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-PUN" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">DES</div>
                            <div id="atributo-base-DES" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-DES" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-DES" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">RES</div>
                            <div id="atributo-base-RES" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-RES" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-RES" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">REF</div>
                            <div id="atributo-base-REF" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-REF" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-REF" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>                        <div style="display: flex; height: 23px; border-bottom: 1px solid #eee;">
                            <div style="width: 60px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; background-color: #f0f0f0;">VOL</div>
                            <div id="atributo-base-VOL" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                            <div id="modificador-VOL" style="width: 80px; text-align: center; line-height: 23px;">0</div>
                            <div id="atributo-final-VOL" style="width: 115px; text-align: center; line-height: 23px; font-family: 'moonGetHeavy'; font-size: 14px;">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div style=" flex-direction: column; display: flex; margin-left: 10px;">
            <div style="background-color: transparent;margin-left: 25px;margin-top: 20px; position: absolute; flex-direction: column;display: flex;">                  <div style="box-shadow: 0px 0px 0px black; margin-bottom: 141px;">
                    <div style="width: 227px; background-color: #000000a8; border-radius: 5px; margin-bottom: -1px; margin-top: -18px; margin-left: 35px; padding: 0px; text-align: center;" class="bbox">
                        <div style="display: flex; justify-content: center; gap: 30px; align-items: center;">
                            <label style="display: flex; align-items: center; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 14px; color: #333;">
                                <input type="radio" id="modo-ataque" name="modo-combate" value="ataque" checked onchange="TF.cambiarModoCombate('ataque')" style="margin-right: 5px; transform: scale(1.2);">
                                <span style="color: #d9534f; font-weight: bold;">ATAQUE</span>
                            </label>
                            <label style="display: flex; align-items: center; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 14px; color: #333;">
                                <input type="radio" id="modo-defensa" name="modo-combate" value="defensa" onchange="TF.cambiarModoCombate('defensa')" style="margin-right: 5px; transform: scale(1.2);">
                                <span style="color: #5bc0de; font-weight: bold;">DEFENSA</span>
                            </label>
                        </div>
                    </div>
                    
                    <div style="width: 300px;height: 40px;text-align: center;background-color: #0055bb;" class="barra-op bbox">
                        <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 19px;line-height: 38px;text-shadow: 1px 1px 1px black;">SELECCIÓN DE ARMAS</span>
                    </div>
                    <div id="armas-container" style="width: 300px;max-height: 174px;background-color: #ffffffa8; text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;overflow-y: auto;" class="bbox">
                        <div style="padding: 8px;">
                            <div style="margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                                <label style="font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; display: block; margin-bottom: 5px;">ARMA PRINCIPAL</label>
                                <select id="arma-seleccionada" style="width: 100%; height: 30px; margin-bottom: 10px; font-size: 14px; border-radius: 5px;" onchange="TF.seleccionarArma(this.value, 0)">
                                    <option value="">Sin arma</option>
                                </select>                            
                                <div id="arma-info" style="text-align: left; padding: 10px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; display: none;">
                                    <img id="arma-imagen" style="width: 60px; height: 60px; float: right; object-fit: cover; border-radius: 5px; margin-left: 10px; display: none;">
                                    <div id="arma-nombre" style="font-weight: bold; font-size: 16px; margin-bottom: 5px;"></div>
                                    <div id="arma-dano" style="font-size: 14px; margin-bottom: 5px;"></div>
                                </div>
                            </div>
                            <div id="arma-secundaria-container" style="margin-bottom: 15px; border-bottom: 1px solid #ccc; padding-bottom: 10px; display: none;">
                                <label style="font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; display: block; margin-bottom: 5px;">ARMA SECUNDARIA</label>
                                <select id="arma-secundaria" style="width: 100%; height: 30px; margin-bottom: 10px; font-size: 14px; border-radius: 5px;" onchange="TF.seleccionarArma(this.value, 1)">
                                    <option value="">Sin arma</option>
                                </select>
                                <div id="arma-secundaria-info" style="text-align: left; padding: 10px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; display: none;">
                                    <img id="arma-secundaria-imagen" style="width: 60px; height: 60px; float: right; object-fit: cover; border-radius: 5px; margin-left: 10px; display: none;">
                                    <div id="arma-secundaria-nombre" style="font-weight: bold; font-size: 16px; margin-bottom: 5px;"></div>
                                    <div id="arma-secundaria-dano" style="font-size: 14px; margin-bottom: 5px;"></div>
                                </div>
                            </div>
                            <div id="arma-terciaria-container" style="margin-bottom: 10px; padding-bottom: 10px; display: none;">
                                <label style="font-family: 'moonGetHeavy'; font-size: 12px; font-weight: bold; display: block; margin-bottom: 5px;">ARMA TERCIARIA</label>
                                <select id="arma-terciaria" style="width: 100%; height: 30px; margin-bottom: 10px; font-size: 14px; border-radius: 5px;" onchange="TF.seleccionarArma(this.value, 2)">
                                    <option value="">Sin arma</option>
                                </select>
                                <div id="arma-terciaria-info" style="text-align: left; padding: 10px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; display: none;">
                                    <img id="arma-terciaria-imagen" style="width: 60px; height: 60px; float: right; object-fit: cover; border-radius: 5px; margin-left: 10px; display: none;">
                                    <div id="arma-terciaria-nombre" style="font-weight: bold; font-size: 16px; margin-bottom: 5px;"></div>
                                    <div id="arma-terciaria-dano" style="font-size: 14px; margin-bottom: 5px;"></div>
                                </div>
                            </div>
                            <div style="text-align: center; margin-top: 10px;">
                                <button id="btn-agregar-segunda" onclick="TF.mostrarSegundaArma()" style="background-color: #28a745; color: white; border: none; padding: 5px 10px; border-radius: 3px; font-size: 12px; cursor: pointer; margin-right: 5px; font-family: 'moonGetHeavy';">+ 2ª ARMA</button>
                                <button id="btn-agregar-tercera" onclick="TF.mostrarTerceraArma()" style="background-color: #ffc107; color: black; border: none; padding: 5px 10px; border-radius: 3px; font-size: 12px; cursor: pointer; display: none; margin-right: 5px; font-family: 'moonGetHeavy';">+ 3ª ARMA</button>                                <button id="btn-mostrar-equipadas" onclick="TF.mostrarArmasEquipadas()" style="background-color: #0055bb; color: white; border: none; padding: 5px 10px; border-radius: 3px; font-size: 12px; cursor: pointer; font-family: 'moonGetHeavy'; display: none;">VER EQUIPADAS</button>
                            </div>
                        </div>
                    </div>
                    <div id="armas-equipadas-container" style="width: 300px; background-color: #ffffffa8; text-align: center; border-left: 2px solid black; border-right: 2px solid black; border-bottom: 2px solid black; display: none; padding: 0px;" class="bbox">
                        <div id="lista-armas-equipadas" style="display: flex; flex-direction: column; gap: 0px;">
                        </div>
                        <div style="text-align: center; margin-top: -6px;">
                            <button onclick="TF.ocultarArmasEquipadas()" style="background-color: #dc3545; color: white; border: none; padding: 8px 15px; border-radius: 3px; font-size: 12px; cursor: pointer; font-family: 'moonGetHeavy';">CERRAR</button>
                        </div>
                    </div>
                </div>
                <div style="width: 300px;height: 40px;text-align: center;position: fixed;background-color: #0055bb;margin-top: 213px;" class="barra-op bbox">
                    <span style="font-family: 'moonGetHeavy';letter-spacing: 1px;color: white;font-size: 17px;line-height: 38px;text-shadow: 1px 1px 1px black;">SELECCIÓN DE TÉCNICAS</span>
                </div>
                <div id="tecnicas-selector-container" style="width: 635px;height: 73px; margin-left: -335px ;position: absolute; margin-top: 252px; background-color: #ffffffa8;text-align: center;border-left: 2px solid black;border-right: 2px solid black;border-bottom: 2px solid black;" class="bbox">
                    <div style="padding: 8px;">
                        <select id="tecnica-seleccionada" style="width: 100%; height: 30px; margin-bottom: 10px; font-size: 14px; border-radius: 5px;" onchange="TF.seleccionarTecnica(this.value)">
                            <option value="">Sin técnica</option>
                        </select>                        
                        <div id="tecnica-info" style="text-align: left;margin-top: -7px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; font-size: 12px; display: none;">
                            <div style="display: flex; align-items: center; gap: 8px;">
                                <div id="tecnica-tipo-display" style="font-size: 17px; color: #666;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>        
    <div style="margin-top: 12px;flex-direction: row;display: flex;">    
        <div id="pestana-tecnicas" style="margin-left: 49px;">
        </div>
        <div>
            <div style="width: 730px;height: 40px;background-color: {$borderColor};" class="barra-op bbox"><span style="top: 8px;font-size: 16px;" class="barra-texto-op">TÉCNICAS</span></div>
            <div style="margin-top: -3px; width: 726px; background-color:rgb(0, 0, 0); border-left: 2px solid black; border-right: 2px solid black; padding: 0; border-down: 2px solid black; border-top-left-radius: 6px; border-top-right-radius: 6px; display: flex; flex-direction: column;">
                <div style="display: flex; height: 25px; margin: 0; border-bottom: 2px solid black;">            
                    <button id="btn-t1" onclick="TF.filtrarTier(1)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T1</button>
                    <button id="btn-t2" onclick="TF.filtrarTier(2)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T2</button>
                    <button id="btn-t3" onclick="TF.filtrarTier(3)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T3</button>
                    <button id="btn-t4" onclick="TF.filtrarTier(4)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T4</button>
                    <button id="btn-t5" onclick="TF.filtrarTier(5)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T5</button>
                    <button id="btn-t6" onclick="TF.filtrarTier(6)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T6</button>
                    <button id="btn-t7" onclick="TF.filtrarTier(7)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T7</button>
                    <button id="btn-t8" onclick="TF.filtrarTier(8)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T8</button>
                    <button id="btn-t9" onclick="TF.filtrarTier(9)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T9</button>
                    <button id="btn-t10" onclick="TF.filtrarTier(10)" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">T10</button>                    
                </div>                
                <div style="display: flex; height: 25px; margin: 0; border-bottom: 2px solid black;">
                    <button id="btn-pasiva" onclick="TF.filtrarCategoria('pasiva')" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">PASIVAS</button>
                    <button id="btn-activa" onclick="TF.filtrarCategoria('activa')" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">ACTIVA</button>
                    <button id="btn-mantenida" onclick="TF.filtrarCategoria('mantenida')" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">MANTENIDA</button>
                    <button id="btn-ofensiva" onclick="TF.filtrarCategoria('ofensiva')" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">OFENSIVA</button>
                    <button id="btn-defensiva" onclick="TF.filtrarCategoria('defensiva')" style="flex: 1; height: 25px; background-color: #666666; color: white; border: none; border-right: 5px solid black; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 10px;">DEFENSIVA</button>
                    <div style="flex: 2; display: flex; align-items: center; background-color: #444444; padding: 0 10px;">
                        <label style="color: white; font-family: 'moonGetHeavy'; font-size: 10px; margin-right: 5px;">ANTES DEL:</label>
                        <input type="text" id="fecha-filtro" placeholder="DD/MM/YYYY" onchange="TF.filtrarPorFecha(this.value)" style="flex: 1; height: 20px; border: none; border-radius: 3px; text-align: center; font-family: 'moonGetHeavy'; font-size: 10px;">
                        <button onclick="document.getElementById('fecha-filtro').value=''; TF.filtrarPorFecha('');" style="margin-left: 5px; height: 20px; background-color: #dc3545; color: white; border: none; border-radius: 2px; cursor: pointer; font-family: 'moonGetHeavy'; font-size: 8px; padding: 0 5px;">✕</button>
                    </div>
                </div>                
            </div>
            <div id="tecnicas-background" style="border-left: 2px solid black;border-right: 2px solid black;width: 730px; height: 680px;background-color: #ffedd2;border-bottom: 2px solid black;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;padding-top: 1px;overflow: auto;-ms-overflow-style: none;  scrollbar-width: none; " class="bbox">
                <div id="tecnicas-caja">
                </div>
            </div>    
        </div>        
    </div>
</div>
<!--<script src="op_ficha_tecnicas.js"></script>-->