<div class="categoria"><img src="/images/op/indice/Titulo06_One_Piece_Gaiden_Foro_Rol.png" /></div>
<div style="margin-top: 10px;margin-bottom: 10px;width: 1020px;margin-left: -10px;">
	<div style="display: flex; flex-direction: row; justify-content: space-around;">
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Usuarios</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Usuarios</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Narrar</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Posts</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Combats</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>
		<div>
			<div style="height: 30px; width: 150px;" class="barra-op bbox"><span class="barra-texto-op" style=" font-size: 17px; top: 3px; ">Top Fama</span></div>
			<div><img src="https://shinobigaiden.net/uploads/avatars/avatar_196.png?dateline=1688076981" style=" width: 150px; box-sizing: border-box; border: 1px solid black; "></div>
			<div style="display: flex;position: relative;background-color: #a08a35;border-top: 2px solid #e5d282;height: 30px;border-bottom: 2px solid #e5d282;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top1_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 7px; top: 6px; text-shadow: 2px 2px 2px black; ">1</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Iro</span><br><span>8 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #757575;border-top: 2px solid #b1b9bc;height: 30px;border-bottom: 2px solid #b1b9bc;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top2_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">2</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Hitsu</span><br><span>7 Narraciones</span></div>
			</div>
			<div style="display: flex;position: relative;background-color: #851c00;border-top: 2px solid #eb7046;height: 30px;border-bottom: 2px solid black;border-left: 1px solid black; border-right: 1px solid black;">
				<div><img src="/images/op/uploads/Top3_One_Piece_Gaiden_Foro_Rol.png"><span style=" color: white; font-size: 13px; font-family: moonGetHeavy; position: absolute; left: 5px; top: 6px; text-shadow: 2px 2px 2px black; ">3</span></div>
				<div style=" font-family: moonGetHeavy; color: white; text-shadow: 2px 2px 2px black; text-align: center; font-size: 9px; width: 111px; margin-top: 2px; "><span>Legan</span><br><span>5 Narraciones</span></div>
			</div>

		</div>


	</div>
</div>