<html>

<head>
  <title>Salario Staff</title>
  {$headerinclude}
</head>

<body>
  {$header}
  <div class="fondo-blanco">

	  <if $accion == '' then>
		Acción:<br>
			  <select id="accion" onchange="onClickAccion()">
				<option value=""></option>
				<option value="kuros">Agregar Kuros</option>
				<option value="expe">Agregar Expe</option>
			  </select><br><br>
			  <br><br>
	  </if>
      <form method="post" action="/op/staff/salario_staff.php" name="salario_staff" id="salario_staff">
		<if $accion == 'kuros' then>
	    <h1>Entregar salarios de Kuros al Staff:</h1>
	    Kuros:<br><input type="number" name="kuros" id="kuros" placeholder="100" required><br><br>
		  
        <span>IDs de usuarios (separados por coma):</span><br>
        <textarea style="width: 350px;height: 125px;" name="staff_id_post" minlength="1" placeholder="43,12,83,90,15" required></textarea>

		<br><br>
        <input class="button" type="submit" value="Entregar Kuros" />
		<br><br>
		</if>
		  
		<if $accion == 'expe' then>
	    <h1>Entregar salarios de Kuros al Staff:</h1>
	    Se agregarán 100 puntos de Expe (o lo máximo hasta cumplir la cuota semanal)<br>
		<input type="number" name="expe" id="expe" value="100"><br><br>
		  
        <span>IDs de usuarios (separados por coma):</span><br>
        <textarea style="width: 350px;height: 125px;" name="staff_id_post" minlength="1" placeholder="43,12,83,90,15" required></textarea>

		<br><br>
        <input class="button" type="submit" value="Entregar Experiencia" />
		<br><br>
		</if>
		
		<div>   
			{$salarios_kuros}
		</div>  
      </form>
  </div>
  {$footer}
</body>
<if $log_var !='' then><script>alert(`{$log_var}`);</script></if>
{$reload_script}
<script>
function onClickAccion() {
    const accion = document.getElementById('accion').value;
	window.location.href = window.location.pathname + '?accion=' + accion;
 }
	
function entregarKuros() {
	if (confirm('¿Estás seguro que quieres entregar los Kuros?')) {
		return true;
	} else {
		return false;
	}
}
</script>

</html>